
.Big_Father{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.Box_main{
width: 100%;
height: 100px;
background-color:#8DA750 ;
margin-bottom: 20px;
border-radius:30px  ;
}

.Box_main > H1{
margin-top: 30px;
text-align: center;
}

.Box_Section{
display: flex;
justify-content: space-around;
align-items: center;
margin: 50px;
width: 90%;
gap: 20px;

font-size: 25px;

}

.Box_Section > img{
width: 30%;
height: 30%;
border-radius: 20px;
}

.box_presentation{

background-color: #8DA750;
width: 500px;
font-size: 25px;
text-align: center;
 box-shadow: 0 4px 12px rgba(0,0,0,0.10);
 border: 2px solid #d4af37;
 font-weight: 600;
  border-radius: 12px;
  margin-bottom: 50px;
}
/* Padre de las cajas */
.grid{
 display: grid;
grid-template-columns: repeat(3, 1fr); /* 3 columnas */

}

.card{
display: flex;
flex-direction: column;
align-items: center;
background-color: #2D5128;
width: 70%; 
height: 95%;
margin: 30px;
position: relative;
border-radius: 15px;  
box-shadow: 0 2px 5px black;
border: 2px solid #d4af37;

/* overflow: hidden; */
}

.dog-img{
width: 90%; 
height: 250px;
margin-top: 20px;
border-radius: 5%;
border: 2px solid #d4af37;
}
.dog-name{
font-size: 30px;
color: white;

}

.overlay{
/* position: relative; */

color: white;
}

.btn-more{
font-size: 20px;
font-weight: 600;
margin: 50px;
color: black;
background-color: #8DA750;
border: 2px solid #d4af37;
box-shadow: 0 4px 10px black;
}

.btn-more:hover{
background-color: red;
}

/* Resposible */

@media (max-width: 900px) {
  .Box_main {
width: 90%;
  }
.Box_Section{
flex-direction: column;
}
.Box_Section > h2{
font-size: 20px;
margin: 20px;
}

.grid{
grid-template-columns: repeat(2, 1fr);
justify-content: center;
align-items: center;
}

}



@media (max-width: 600px) {

.box_presentation{
width: 100%;
}

  .Box_main > h1 {
    font-size: 24px;
  }

  .Box_Section {
    margin: 20px;
    font-size: 20px;
  }

  .Box_Section > img {
    width: 60%;
  }

  .box_presentation {
    font-size: 20px;
    padding: 15px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .dog-name {
    font-size: 25px;
  }
}

